body{
    margin-left: 100px;
    margin-right: 100px;

}
body{
    font-family: 'Gabarito', sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    border-bottom: solid black 1px;
    z-index: 1;
    background-color: white;
}

.navbar__s1 img{
    height: 25%;
}
.navbar__s2{
    display: flex;
    gap: 20px;
    text-align: center;
    
    
}
.navbar__s2:hover {
    text-decoration: underline;
}
.navbar__s3{
    display: flex;
    background-color: transparent;

}
.navbar__button{
    display: block;
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    border: white;
}
.navbar__s3 :hover{
    transition: 2s;
    background-color: bisque;
    cursor: pointer;
}
.navbar__s4__sigin{
  background-color: black;
color: white;
padding: 10px;
border-radius: 5px;
}
.navbar__s4__sigin:hover {
      cursor: pointer;
      
}
.navbar__ss{
    display: none;
}
.navbar__s5{
    text-align: center;
    font-size: 25px;
}
.categories{
    display: flex;
    gap: 20px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    
}
.categories p:hover{
    border-bottom: solid 1px black ;
}
.search{
    padding-left: 30%;
}
.navbar__s6{
   padding: 10px;
    width: 60%;
    justify-content: center;
    display: flex;
    border-radius: 20px;
    align-items: center;
    border: solid 1px black;
}
.navbar__s6 input{
    font-size: 16px;
    width: 80%;
    border: white;
    
}
.navbar__s6 input:focus{
    outline: none;
}
.search-btn{
    background-color: aqua;
    border: none;
    border-radius: 20px;
    padding: 10px;
}
.course__image{
    position: relative;
    
}
.course__image img{
   width: 100%;
   padding-top: 20px;
   border-radius: 40px;
   height: 50%;
   
}
.course__image__title{
    position: absolute;
    bottom: 300px;
    padding-left: 20px;
}
.letsgo{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
.image__section1,.image__section2,.image__section3,.image__section4{
    position: relative;

}
.image__section1 img,.image__section2 img,.image__section3 img,.image__section4 img{
    border-radius: 10px;

}
.image__s1{
    height: 40%;
    padding-top: 50px;
    padding-left: 20px;

}
.image__s2{
    height: 30%;
    padding-top: 40px;
}
.image__s3{
    height: 30%;
    padding-right: 40px;
    padding-top: 40px;
}
.image__section img{
    width: 100%;
    height: 80%;
}
.image__section{
    display:flex;
    gap: 30px;
    flex-wrap: wrap;
}
.beach{
    position: absolute;
    bottom: 70px;
    color: white;
}
.family{
    position: absolute;
    bottom: 70px;
    color: white;
}
.city{
    position: absolute;
    bottom: 70px;
    color: white;
}
.nature{
    position: absolute;
    bottom: 70px;
    color: white;
}


.gresection{
    display: flex;
    gap: 40px;
    border: solid green 1px;
    background-color: green;
    
    flex-wrap: nowrap;
    

}

.greenimage img{
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    
    
}
.section4{
    text-align: center;
    padding-top: 50px;
    
    
    
}


.section4 img{
    height: 20%;
    width: 20%;
}
.moreimages img{
    height: 75%;
    width: 100%;
    border-radius: 10px;
    
}
.moreimages{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.moreplaces{
    padding-top: 30px;
}
.moreimages1{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.moreplaces1{
    padding-top: 30px;
}
.moreimages1 img{
    height: 75%;
    width: 100%;
    border-radius: 10px;
    
}
.saleimage img{
    height: 50%;
    width: 100%;
    border-radius: 80px;

}
.saleimage{
    margin-top: 30px;
    position: relative;
}
.saleimage__s1{
    position: absolute;
    top: 40px;
    margin-left: 20px;
    font-size: 28px;
}
.footer{
    padding: 30px;
    margin: 30px;
    background-color: #faf1ed;
    color: black;
    margin-top: 40px;
    
}

.footer__one{
    display: flex;
    gap: 30px;
}
.footer__one{
    margin: 20px;
}
.footer__two{
    margin: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.foot-p{
    font-size: 15px;
    width: 50%;

}
.footer__one__s4{
    margin-left: 200px;
}
.icon{
    margin-left: 18px;
}
@media screen and (max-width:800px){
    body{
        font-size: 10px;
    }
    .course__image__title{
        display: none;

    }
    .saleimage__s1{
        font-size: 10px;
    }
    .section4{
        display: none;
    }
}
@media screen and (max-width:600px) {
    .course__image{
        flex-basis:10%;
    }
    .section4{
        display: none;
    }
    .course__image__title{
        display: none;
    }
    .saleimage__s1{
        display: none;
    }
    .navbar__s2,.navbar__s3,.navbar__s4{
        display: none;
    }
    .navbar__s5{
        font-size: small;
    }
    .categories p{
        font-size: 6px;
    }
    .navbar__ss{
        display: block;
    }
}

